.header-bg{
    background-color: #FFFFF4;
}
.text-1{
    font-family: 'Bebas Neue';
    font-size: 80px;
    color: #363958;
}
.text-2{
    font-family: 'Bebas Neue';
    font-size: 80px;
    color: #76C27E;
}
.btn-color{
    background-color: #2A1E59;
    border: 0;
    border-radius: .5em;
}
.text-buy{
    color: white;
}